/** extended css */
.i-layout-sider .ivu-shrinkable-menu .ivu-menu-dark {
    background: #10a082;
    background-image: linear-gradient(to bottom, #123e5a, #10a082);
}

.i-layout-sider .ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover,
.i-layout-sider .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover {
    background: #0a8f79;
}
