.i-layout-header-color-primary {
    background: rgba(186, 40, 53, 1);
    background: -webkit-gradient(linear, left top, right top, from(#d70821), color-stop(rgba(186, 40, 53, 1)), to(rgb(194, 86, 97)));
    background: linear-gradient(90deg, rgb(194, 86, 97), rgba(186, 40, 53, 1), #d70821);
}

.i-layout-header-color-primary .i-layout-header-trigger:hover {
    background: rgba(112, 149, 159, 1) !important;
}

.i-layout-header-color-primary .i-layout-header-trigger-min-light,
.i-layout-header-color-dark .i-layout-header-trigger-min-light {
    background: rgba(112, 149, 159, 1) !important;
}

.i-layout-header-color-primary .i-layout-header-menu-light,
.i-layout-header-color-dark .i-layout-header-menu-light{
    color: #ccffff !important;
}

.i-layout-header-color-light .i-layout-header-menu-light{
    color: rgba(186, 40, 53, 1) !important;
}

.i-layout-header-color-light .i-layout-header-menu-light{
    color: rgba(186, 40, 53, 1) !important;
}

.ivu-checkbox-wrapper-checked.ivu-checkbox-border,
:not(.ivu-checkbox-wrapper-disabled).ivu-checkbox-border:hover,
.ivu-radio-wrapper-checked.ivu-radio-border,
:not(.ivu-radio-wrapper-disabled).ivu-radio-border:hover{
    border-color: #f04134;
    color: #f04134;
}

.i-layout-header-color-primary .tags-outer-scroll-con .left-move-tag-con {
  background: #c1505b !important;
}
.i-layout-header-color-primary .tags-outer-scroll-con .right-move-tag-con {
  background: #d30f24 !important;
}
